html {
    min-height: 100%;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
    font-size: 62.5%;
    height: 100%;
}

#accessabilityCont {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #000;
    min-height: 30px;


}

#textAdjust {
    position: absolute;
    right: 0;
    top: 0;
    color: #111;
    font-weight: bold;
    font-size: 2em;
}

.aA {
    position: relative;
    right: 10px;
    color: #111;
    background: none;
    font-weight: bold;
    outline: none;
    font-size: .7em;
    border: none;
    cursor: pointer;

}

#colorChange {
    display: none;

}

#colorChangeContrast {
    position: absolute;
    top: 7px;
    right: 55px;
    font-size: 1.4em;
    cursor: pointer;

}



header {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #000;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}

#siteWrap {
    height: 100%;
}
/* SCROLL BAR STYLING */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #29b6f6;
}

::-webkit-scrollbar-thumb:hover {
  background: #0288d1;
}

::-webkit-scrollbar-corner {
    background: none;
}

#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2px;
    padding-top: 0px;
    background-image: url(logotestwhite.svg);
    background-repeat: no-repeat;

}

#logoText {
    position: absolute;
    top: 15px;
    left: 40px;
    width: 250px;
    height: 40px;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -2px;
    padding-top: 0px;
    color: #fff;

}

#timeDate {
    position: absolute;
    width: 12em;
    height: 2.2em;
    right: 6em;
    bottom: 20%;
    font-size: 17px;
    font-weight: bold;
    text-align: right;
    color: #fff;
    margin-right: 1em;
    padding-right: 1.3em;
    border-right: solid #fff 1px;
}

#profile {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 60px;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    background-image: url("profile1.png");
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #fff;

}
#boardContainer {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 50px;


}

#container {
    min-height: 300px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    vertical-align: top;



}

#test-column-holder {
    position: relative;

}

#editor-holder {
    margin-left: 20px;
    margin-bottom: 10px;
}

#test-column {
    width: 270px;
    min-height: 100px;
    background-color: #ffffff;
    padding: 20px 20px 10px 20px;
    margin: auto;

    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 20px;

}

#startCol {
    position: relative;
}

#col1 {
    position: relative;
}

.fa-times {
    font-size: 1.6em;
}

.fa-edit {
    font-size: 1.6em;

}

.colTitle {
    position: relative;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
    cursor: default;
    color: #fff;
    word-break: break-word;
    width: 240px;
}



.column {

}

.colStyle {
    position: relative;
    width: 270px;
    min-height: 100px;
    background-color: #000;
    padding: 17px 17px 17px 17px;
    margin-left: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 2px;
    border: 3px solid #ffffff;

}

.delColIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #ccc;
    cursor: pointer;
}

.delColIcon:hover {
    color: #c62828;
}

.delCardIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #999;
    cursor: pointer;
}

.editCardIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
}

.editCardIcon:hover {
    color: #4caf50;
}

#darkenPage {
    position: absolute;
    top: 0;
    background-color: #111;
    width: 100%;
    height: 1000px;
    z-index: 450;
    opacity: 0.8;
}

#cardEditorCont {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 500;
    width: 500px;
    height: 500px;
    background-color: #000;
    border-bottom: 1px solid #ccc;
}

.delCardIcon:hover {
    color: #c62828;
}

.cardContent {
    position: relative;
    border: 2px solid #fff;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 10px 5px 10px 5px;
    background-color: #fff;
    align-self: flex-start;
    border-radius: 2px;



}

.cardTitle {
    font-size: 1.5em;
    color: #fff;
    width: 230px;
    font-size: 1.5em;
    word-break: break-word;

}

.cardShake {
    position: absolute;
    left: -100px;
}
/*
.cardContent:hover {
    background-color: #E1E1E1;
}

*/

.cardContent {
    background-color: #000;
}
.cardContent input {
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    width: 215px;
    margin-right: 20px;
    padding: 5px;
    font-size: 1.4em;
}

.cardContent input:focus {
    border: 2px solid #4caf50;

}


.cardContentError input {
    border: 2px solid #c62828;
}

.cardOkBtn {
    width: 80px;
    background-color: #ff0;
    color: #000;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    outline: none;
    font-size: 1.4em;
}



.cardOkBtn:hover {
    background-color: #ff6a2f;
}

.cardOkBtn:focus {
    background-color: #0085c1;
}

.cardCancelBtn {
    width: 80px;
    background-color: #ff0;
    color: #000;
    border: none;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    outline: none;
    font-size: 1.4em;
}

.cardCancelBtn:hover {
    background-color: #ff6a2f;
}

.cardCancelBtn:focus {
    background-color: #0085c1;
}

#del-card {
    background: #cccccc;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#del-col {
    background: #cccccc;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.colDelete {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#addCardBtn {


}

#addCardBtn.btnStyle {
    position: absolute;
    bottom: -20px;
    left: 130px;
    background-color: #ff0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 3px solid #ff0;
    outline:none;
    cursor: pointer;
    color: #000;
    font-size: 1.6em;
    transition: ease .5s;

}

#addCardBtn.btnStyle:hover {
    background-color: #ff6a2f;
    border: 3px solid #ff6a2f;
    transition: ease .5s;

}

#addColumnBtn.btnStyle {
    background: none;
    border: 3px solid #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    outline:none;
    cursor: pointer;
    color: #fff;
    font-size: 1.6em;

}

#addColumnBtn.btnStyle:hover {
    background-color: #ff0;
    border: 3px solid #ff0;
    transition: ease .5s;
    color: #000;

}

#addColumnBtn {
    position: absolute;
    right: 10px;
    top: 10px;

}

#button-holder {

    color: #fff;
    font-size: 1.4em;

}

#idgen {
    width: 100px;
    height: 100px;
    background-color: #ff00cc;
}

#button-holder button {
    background-color: Transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 20px;
    width: 20px;
    border: none;
    outline:none;
    cursor: pointer;
    color: #ffffff;
}

#col-txt{
    font-weight: 700;
    font-size: 1.6em;
    cursor: pointer;
}

.colHovered {
    background-color: #fff;
    border: 3px solid #4caf50;

}

.column li {
    list-style-type: none;
}

.column ol {
    margin: 0;
    padding: 0;
}

.colExtends {
    height: 300px;
}

footer {

    height: 100px;
    width: 100%;
}

/* DRAG STYLING */
#makeMeDraggable { width: 300px; height: 300px; background: red; }
#makeMeDraggable.ui-draggable-dragging { background: green; }



/* ANIMATION */

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* KEYFRAMES */

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

#cardEditBody {

}

.containerEditCard .fa-times {
    font-size: 1.2em;
}

.containerEditCard {
    z-index: 900;
    position: absolute;
    border-radius: 2px;
    border-bottom: 1px solid #ccc;
    min-width: 415px;
    height: 460px;
    padding: 20px;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 900;
    background-color: #f5f5f5;
    color: #111;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    font-size: 1.5em;
}

.editCardInputField {
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    width: 400px;
    padding: 5px;
    font-size: 1.6em;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.0em;
}


.editCardInputField:focus {
    border: 2px solid #4caf50;
}

.editCardTextArea {
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    resize: none;
    width: 400px;
    height: 100px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.0em;

}
textarea:focus {
    border: 2px solid #4caf50;
}


#BtnPushSettings {
    position: absolute;
    left: 20px;
    bottom: 10px;
    background-color: #29b6f6;
    color: white;
    padding: 5px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    width: 80px;
    font-weight: bold;
    font-size: 1.1em;
}

#BtnPushSettings:hover {
    background-color: #4a148c;

}

#cardEditBg {
    position: absolute;
    top: 0;
    opacity: .7;
    background: #111;
    width: 100%;
    height: 100%;
    z-index: 850;
}

#date-start {
    font-size: 1em;
    outline: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #4a148c;
    margin-right: 15px;
    margin-top: 10px;
    padding: 5px;
    width: 185px;
    border-radius: 2px;
}

#date-start:focus {
    border: 2px solid #4caf50;
}

#date-end {
    font-size: 1em;
    outline: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #4a148c;
    margin-top: 20px;
    padding: 5px;
    width: 185px;
    border-radius: 2px;
}

#date-end:focus {
    border: 2px solid #4caf50;
}


.closeEditorIcon {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1050;
    margin-bottom: 10px;
    color: #ccc;
    cursor: pointer;
}

.closeEditorIcon:hover {
    color: #111;
}

.sortableStyle {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 2px dotted #bbb;
}




/* COLOR RADIOS ON EDIT CARD */

.redRadio{
    color: #e53935;
}

.orangeRadio{
    color: #fb8c00;

}

.greenRadio {
    color: #43a047;
}

.blueRadio {
    color: #1e88e5;
}

.pinkRadio {
    color: #d81b60;
}


/* SIDE CONTENT CSS */

#calendarStatisticsContainer {
    position: fixed;
    right: 0;
    top: 35%;
    width: 55px;
    height: 80px;
    z-index: 5;
}

.squareContainer {
    position: absolute;
    right: 0;
    width: 55px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#calendarSquare {
    position: absolute;
    top: 0;
    background-color: #29b6f6;

}

#statisticsSquare {
    position: absolute;
    bottom: 0;
    background-color: #29b6f6;
}

#calendarSquare:hover, #statisticsSquare:hover {
    width: 80px;
    transition: all .5s;
    background-color: #0085c1;
}

#goToCalendar, #goToStatistics {
    position: absolute;
    background: transparent;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 2.5em;
    border: none;
    cursor: pointer;
    outline: none;
}

#trashcanSquare {
    position: fixed;
    right: 0em;
    bottom: 10%;
    background-color: #29b6f6;
    min-width: 55px;
    min-height: 40px;
    overflow: hidden;
    z-index: 5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#deleteObj {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: none;
    color: #fff;

    border: none;
    font-size: 2em;
}

#deleteObj.dragging {
    background: #c62828;
    transition: all .3s;
    border: solid black 1px;
}
