body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.edit {
    position: fixed;
    right: 80px;
    top: 75px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    padding: 20px;
}

.modal-content {
    border: 1px solid #888;
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    width: 80%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

input {
    font-size: 14px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=date] {
    width: 30%;
    height: 50%;
    text-align: center;
    font-size: 14px;
    padding: 0 0 0 10px;
}

.container {
    padding: 30px;
}

.pluscolor:hover {
    color: green;
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.animate {
    animation: animatezoom 0.6s;
}

.fas {
    padding: 10px 10px 10px 0px;
}

.avatar:active,
.avatar:focus,
.avatar:hover {
    color: red;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.pink {
    color: pink;
}