#proDiv {
    position: relative;
    margin: 0;
    padding: 50px;
}

.proEnt {
    margin: 0;
}

.proEnt[value] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 350px;
    height: 20px;
}

#proMinus[value]::-webkit-progress-bar {
    background-color: darkgreen;
}

#proMinus[value]::-webkit-progress-value {
    background-color: lightgray;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5) inset;
    transition: .2s all ease;
}

#marker {
    position: relative;
    top: 6px;
    left: -9px;
    font-size: 54px;
    font-weight: bolder;
    z-index: 1; 
}

#proPlus {
    position: relative;
    left: -19px;
}

#proPlus[value]::-webkit-progress-bar {
    background-color: lightgray;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5) inset;
}

#proPlus[value]::-webkit-progress-value {
    background-color: red;
    transition: .2s all ease;
}

#userValuePrinted {
    position: relative;
    left: 340px;
    font-family: sans-serif;
}