@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab&display=swap');
html {
	height: 100%;
}
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #4a148c;
    background-image: linear-gradient(315deg, #4a148c 0%, #12005e 100%);
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

.container {
	max-width: 1005px;
	margin: 0 auto;
	padding: 2em 1em;
	color: #4a148c;
}

.sloganContainer {
	margin: 0 auto;
	color: #4a148c;
}

.footerCont {
	width: 100%;
	background: #fff;
}

header {
	text-align: center;
}

.logo {
	background-image: url(images/logowhite.svg);
    background-repeat: no-repeat;
    width: 200px;
    height: 20px;
    margin-left: 10px;
	
}

nav {
	margin: 2em auto 0;
	max-width: 600px;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	font-size: 1.25em;
	color: #4a148c;
	font-weight: 700;
	text-decoration: none;
}


main {
	display: flex;
	flex-flow: column;
}

footer {
	display: flex;
	flex-flow: row;
	background-color: #fff;
	border-top: 1px solid #ccc;
	padding-top: 30px;
}

.hero {
	text-align: center;
	color: #fff;
}

.slogan {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	width: 330px;
}

.slogan h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 2.5em;
	color: #111;
}

.slogan i {
	font-size: 50px;
}

.slogan p {
		font-size: 1.5em;
		padding: 0;
		margin: 0 0 3em 0;
		color: #111;
}

.hero h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Roboto Slab', serif;
	
}

.hero p {
	font-size: 1.5em;
	font-weight: 600;
	max-width: 600px;
	line-height: 1.8em;
	margin: 3em auto;

}

.hero p:before {
	content: "";
	display: block;
	width: 120px;
	margin: auto;
	
	border: 2px solid #29b6f6;
}

.hero a {
	background: #29b6f6;
	padding: 1em 3em;
	border-radius: 2px;
	text-decoration: none;
	font-size: 1.37em;
	font-weight: bold;
}

figure {
	text-align: center;
	background-image: url(images/splash.svg);
	background-repeat: no-repeat;	
	width: 500px;
	height: 400px;
	margin: 0;
	padding: 0;
}


figure img {
	margin: 3em auto 0;
	width: 300px;
	height: 300px;
	background-color: #111;
	
}

.device {
	margin: auto;
}

@media screen and (min-width: 820px) {
	header {
		display: flex;
		justify-content: space-between;
		flex-flow: wrap;
		align-items: center;
	}
	
	nav {
		margin: 0;
	}
	
	nav ul {
		margin: 0;
		padding: 0;
		display: flex;
	}
	
	nav ul li {
		list-style: none;
		padding: 0.5em 2em;
	}
	
	nav ul li a {
		font-size: 1.37em;
		color: #fff;
		font-weight: 700;
		text-decoration: none;
	}
	
	.highlight {
		border: 3px solid #ffdb37;
	}
	
	main {
		flex-flow: row;
	}
	
	.hero {
		text-align: left;
	}
	
	.hero h1 {
		font-size: 4em;
	}
	
	.hero p:before {
		margin: 1em 0;
		
	}
	
	.hero p {
		font-size: 1.5em;
		padding: 0;
		margin: 0 0 3em 0;
	}
	
	.hero a {
		background: #29b6f6;
	}
	
	.figure img {
		width: 300px;
		margin: 0;
	}
}


/* IMPLEMENTED CSS */

.btn {
    width: 100px;
    background-color: #29b6f6;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    outline: none;
    font-size: 1.4em;
}

.btn.cancel {
    margin-left: 10px;
}

.btn:hover {
    background-color: #4a148c;
}

/*------------------------------------------------
7.0 - Accessability
------------------------------------------------*/
#accessabilityCont {
    position: relative;
    width: 100%;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    min-height: 30px;
}

#textAdjust {
    position: absolute;
    right: 0;
    top: 0;
    color: #111;
    font-weight: bold;
    font-size: 12px;
}

.aA {
    position: relative;
    top: 5px;
    right: 10px;
    color: #111;
    background: none;
    font-weight: bold;
    outline: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

.aA:hover {
    color: #c62828;
}

#colorChange {
    position: absolute;
    top: 7px;
    right: 55px;
    font-size: 16px;
    cursor: pointer;
}

#colorChange:hover {
    color: #c62828;
}

#colorChangeContrast {
    display: none;
}

header {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0,0,0,.4);
}

#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 20px;
    padding-top: 0px;
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
    letter-spacing: -2px;
    font-size: 40px;
    font-weight: 700;
}

#timeDate {
    position: absolute;
    right: 100px;
    top: 10px;
    width: 240px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: solid #ccc 1px;
    color: #4a148c;
    text-align: right;
    font-size: 1.4em;
    font-weight: bold;
}

#profile {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 60px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 3px solid #4a148c;
    background-color: #ffffff;
    background-image: url("images/profilepic.png");
    background-size: cover;
}
.dropbtn {
    background: none;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    opacity: 0;
    color: white;
    font-size: 16px;
    transition: ease .5s;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #4a148c;
    opacity: 1;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: -30px;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 2px;
    background-color: #f1f1f1;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.dropdown a:hover {
    background-color: #29b6f6;
    color: #fff;
}

.show {
    display: block;
}


