/*------------------------------------------------
> > > TABLE OF CONTENTS:
--------------------------------------------------
1.0 - Setup
2.0 - Header / Logo / Profile dropdown
3.0 - Index (Splash screen) / End session
4.0 - Column
5.0 - Card
6.0 - Card editor
7.0 - Dialogue box
8.0 - Accessability
9.0 - Buttons / Icons
10.0 - Call to action
------------------------------------------------*/

/*------------------------------------------------
1.0 - Setup
------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400,700&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #29b6f6;
}

::-webkit-scrollbar-thumb:hover {
  background: #0288d1;
}

::-webkit-scrollbar-corner {
    background: none;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #4a148c;
    background-image: linear-gradient(315deg, #4a148c 0%, #12005e 100%);
    color: #111;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;

}

#siteWrap {
    height: 85vh;
}

#boardContainer {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    vertical-align: top;
    min-height: 500px;
}

#container {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    overflow: scroll;
    overflow-y: hidden;
}

#colContainer {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    vertical-align: top;
    min-height: 500px;
}

/* Disable text from being selectable (in e.g cardTitle of a card) */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*------------------------------------------------
2.0 - Header / Logo / Profile dropdown
------------------------------------------------*/
header {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0,0,0,.4);
}

#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 20px;
    padding-top: 0px;
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
    letter-spacing: -2px;
    font-size: 40px;
    font-weight: 700;
}

#timeDate {
    position: absolute;
    right: 100px;
    top: 10px;
    width: 240px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: solid #ccc 1px;
    color: #4a148c;
    text-align: right;
    font-size: 1.4em;
    font-weight: 700;
}

#profile {
    position: absolute;
    right: 0;
    margin-right: 60px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 3px solid #4a148c;
    background-color: #ffffff;
    background-image: url("images/profilepic.png");
    background-size: cover;
}
.dropbtn {
    background: none;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    opacity: 0;
    color: white;
    font-size: 16px;
    transition: ease .5s;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #4a148c;
    opacity: 1;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: -30px;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 2px;
    background-color: #f1f1f1;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.dropdown a:hover {
    background-color: #29b6f6;
    color: #fff;
}

.show {
    display: block;
}

/*------------------------------------------------
3.0 - Index (Splash screen) / End session
------------------------------------------------*/
.splashContainer {
	max-width: 1005px;
	margin: 0 auto;
	padding: 2em 1em;
	color: #4a148c;
}

.sloganContainer {
	margin: 0 auto;
	color: #4a148c;
}

.footerCont {
	width: 100%;
	background: #fff;
}

header {
	text-align: center;
}

.logo {
	background-image: url(images/logowhite.svg);
    background-repeat: no-repeat;
    width: 200px;
    height: 20px;
    margin-left: 10px;

}

nav {
	margin: 2em auto 0;
	max-width: 600px;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	font-size: 1.25em;
	color: #4a148c;
	font-weight: 700;
	text-decoration: none;
}


main {
	display: flex;
	flex-flow: column;
}

footer {
	display: flex;
	flex-flow: row;
	background-color: #fff;
	border-top: 1px solid #ccc;
	padding-top: 30px;
}

.info {
	text-align: center;
	color: #fff;
}

.slogan {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	width: 330px;
}

.slogan h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 2.5em;
	color: #111;
}

.slogan i {
	font-size: 50px;
}

.slogan p {
		font-size: 1.5em;
		padding: 0;
		margin: 0 0 3em 0;
		color: #999;
}

.info h1 {
	font-size: 2.5em;
	font-weight: 500;
	font-family: 'Roboto Slab', serif;

}

.info p {
	font-size: 1.5em;
	max-width: 600px;
	line-height: 1.8em;
	margin: 3em auto;
	color: #fff;

}

.info p:before {
	content: "";
	display: block;
	width: 120px;
	margin: auto;

	border: 2px solid #29b6f6;
}

.info a {
	background: #29b6f6;
	padding: 1em 3em;
	border-radius: 2px;
	text-decoration: none;
	font-size: 1.37em;
	font-weight: 700;
}

.splashImgBox {
	text-align: center;
	background-image: url(images/splash.svg);
	background-repeat: no-repeat;
	width: 500px;
	height: 400px;
	margin: 0;
	padding: 0;
	margin: auto;
}


.splashImg {
	margin: 3em auto 0;
	width: 300px;
	height: 300px;

}


@media screen and (min-width: 820px) {
	header {
		display: flex;
		justify-content: space-between;
		flex-flow: wrap;
		align-items: center;
	}

	nav {
		margin: 0;
	}

	nav ul {
		margin: 0;
		padding: 0;
		display: flex;
	}

	nav ul li {
		list-style: none;
		padding: 0.5em 2em;
	}

	nav ul li a {
		font-size: 1.37em;
		color: #fff;
		font-weight: 700;
		text-decoration: none;
	}

	.highlight {
		border: 3px solid #ffdb37;
	}

	main {
		flex-flow: row;
	}

	.info {
		text-align: left;
	}

	.info h1 {
		font-size: 4em;
	}

	.info p:before {
		margin: 1em 0;

	}

	.info p {
		font-size: 1.5em;
		padding: 0;
		margin: 0 0 3em 0;
		color: #fff;
	}

	.info a {
		background: #29b6f6;
		font-weight: 700;
	}

	.splashImg {
		width: 300px;
		margin: 0;
	}
}

/*------------------------------------------------
4.0 - Column
------------------------------------------------*/
.columnBox {
    position: relative;
    width: 270px;
    min-height: 150px;
    padding: 17px 17px 17px 17px;
    margin-left: 20px;
    border-radius: 2px;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.columnBox.animated {
    animation-duration: .4s;
}

.colTitle {
    position: relative;
    width: 240px;
    margin-left: 5px;
    margin-bottom: 10px;
    cursor: default;
    word-break: break-word;
    font-size: 1.6em;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.columnBox input {
    width: 260px;
    margin-right: 20px;
    padding: 5px;
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    font-size: 1.4em;
}

.columnBox input:focus {
    border: 2px solid #4caf50;

}

.colHovered {
    background-color: #cfcfcf;
    border: 3px solid #66bb6a;
}

.column li {
    list-style-type: none;
}

.column ol {
    margin-top: 0;
    padding: 0;
}

.colExtends {
    height: 300px;
}

#newColCont {
    position: relative;
    width: 304px;
    height: 124px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 2px;
    font-size: 40px;
    color: #fff;
    border: 3px solid;
    opacity: .2;
    cursor: pointer;
    transition: ease .5s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    animation-duration: .4s;
    animation-fill-mode: none;
}

#newColCont:hover {
    opacity: .6;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

#newColText {
    position: relative;
    top: 20px;
    font-size: .4em;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#newCol {
    position: relative;
}

#newColButton {
    position: absolute;
    left: 126px;
    top: 60px;
    height: 40px;
    width: 40px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background: none;
    outline:none;
    cursor: pointer;
    color: #fff;
    font-size: .4em;
}

/*------------------------------------------------
5.0 - Card
------------------------------------------------*/
#cardEditorCont {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
    z-index: 500;
}

.cardContent {
    position: relative;
    align-self: flex-start;
    margin-bottom: 10px;
    padding: 10px 5px 10px 5px;
    border-radius: 2px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
    font-weight: 700;
}

.cardContent input {
    border: 2px solid #4a148c;
    border-radius: 2px;
    width: 245px;
    margin-right: 20px;
    padding: 5px;
    outline: none;
    font-size: 1.4em;
}

.cardContent input:focus {
    border: 2px solid #4caf50;

}

.cardContentError input {
    border: 2px solid #c62828;
}

.cardTitle {
    width: 230px;
    font-size: 1.5em;
    word-break: break-word;
    margin-left: 5px;
}

.card.animated {
    animation-duration: .6s;
}

.nameInitialsContainer {
    width: 250px;
    margin-top: 10px;
    margin-left: 5px;
    padding-top: 10px;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    border-top: 2px solid #ccc;
}

.nameInitials {
    background-color: none;
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    border: 3px solid #ccc;
    margin-left: 10px;


}

.nameInitials p {
    border-radius: 50%;
    margin: 0;
    min-height: 30px;
    min-width: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #4a148c;
    line-height: 30px;
}

.cardDateEndContainer {
    border-top: 2px solid #ccc;
    width: 250px;
    margin-top: 10px;
    margin-left: 5px;
}

.cardDateEndContainer p {
    text-align: right;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: #4a148c;
    border-radius: 2px;
}

/*------------------------------------------------
6.0 - Card editor
------------------------------------------------*/
.containerEditCard {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: 415px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    background-color: #f5f5f5;
    color: #111;
    font-size: 1.6em;
    z-index: 900;
}

.containerEditCard.animated {
    animation-duration: .9s;
}

.containerEditCard .fa-times {
    font-size: 1.2em;
}

.editCardTitleCont {
    background: #ff00cc;
}

.editCardItemCont {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.editCardItemCont.colors {
    height: 60px;
}
.editCardDescCont {
    background: #ff0;
}

.editCardAvatar {
    position: relative;
    margin-top: 10px;
}

.editCardAvatar select{
    display: none;
}

#addUsersField input{
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    font-size: 1em;
}

#addUsersField input:focus{
    border: 2px solid #4caf50;
}

#addUsersField button {
    font-size: 1em;
}

#addUsersField .delete{
    margin-left: 10px;
    color: #ccc;
    text-decoration: none;
}

#addUsersField .delete:hover{
    margin-left: 10px;
    color: #c62828;
    text-decoration: none;
}

#addFormField{
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #29b6f6;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 1.1em;
}

#addFormField:hover {
    background-color: #4a148c;
}

.editCardColorCont {
    position: relative;
    background: #330fcc;
}

.editCardColor {
    position: absolute;
    left: 0;
    right: 0;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}

.editCardColor input[type=radio] {
    display: none;
}

.editCardColor label {
    display: inline-block;
    padding: 4px 11px;
    cursor: pointer;
    font-size: 16px;
}

.editCardCalCont {
    background: #99ffcc;
}

.editCardDate {
    margin-top: 10px;
}

.editCardInputField {
    width: 400px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    font-size: 1em;

}

.editCardInputField:focus {
    border: 2px solid #4caf50;

}

.editCardTextArea {
    width: 400px;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    resize: none;
    font-size: 1.0em;
}

textarea:focus {
    border: 2px solid #4caf50;
}

#dateStart {
    width: 185px;
    margin-right: 15px;
    padding: 5px;
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    font-size: .8em;
    font-family: 'Open Sans', sans-serif;
}

#dateStart:focus {
    border: 2px solid #4caf50;
}

#dateEnd {
    width: 185px;
    padding: 5px;
    outline: none;
    border: 2px solid #4a148c;
    border-radius: 2px;
    font-size: .8em;
    font-family: 'Open Sans', sans-serif;
}

#dateEnd:focus {
    border: 2px solid #4caf50;
}

.redRadio{
    color: #F44336;
    margin-right: 10px;
}


.orangeRadio{
    color: #FF9800;
    margin-right: 10px;
}

.greenRadio {
    color: #4CAF50;
    margin-right: 10px;
}

.blueRadio {
    color: #2196F3;
    margin-right: 10px;
}

.pinkRadio {
    color: #E91E63;
    margin-right: 10px;
}

/*------------------------------------------------
7.0 - Dialogue box
------------------------------------------------*/
#dialogueBox {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 210px;
    border-radius: 2px;
    background-color: #fff;
    font-weight: 700;
    z-index: 5000;
    border: 3px solid #F44336;
}

#qMessage {
    margin-top: 100px;
    color: #4a148c;
    text-align: center;
    font-size: 1.8em;
    font-family: 'Roboto Slab', serif;
}

#qBtnCont {
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
}

/*------------------------------------------------
8.0 - Accessability
------------------------------------------------*/
#accessabilityCont {
    position: relative;
    width: 100%;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    min-height: 30px;
}

#textAdjust {
    position: absolute;
    right: 0;
    top: 0;
    color: #111;
    font-weight: 700;
    font-size: 12px;
}

.aA {
    position: relative;
    top: 5px;
    right: 10px;
    color: #111;
    background: none;
    font-weight: 700;
    outline: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

.aA:hover {
    color: #c62828;
}

#colorChange {
    position: absolute;
    top: 7px;
    right: 55px;
    font-size: 16px;
    cursor: pointer;
}

#colorChange:hover {
    color: #c62828;
}

#colorChangeContrast {
    display: none;
}

/*------------------------------------------------
9.0 - Buttons / Icons
------------------------------------------------*/
.btn {
    width: 100px;
    background-color: #29b6f6;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    padding: 5px;
    font-weight: 700;
    outline: none;
    font-size: 1.4em;
}

.btn.cancel {
    margin-left: 10px;
}

.btn:hover {
    background-color: #4a148c;
}

.editCardIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #999;
    cursor: pointer;
}

.editCardIcon:hover {
    color: #4caf50;
}

#qIcon {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #4a148c;
    color: #4a148c;
    font-size: 40px;
}

#qIcon .fa-exclamation {
    position: relative;
    top: 3px;
    left: 23px;
}

#trashcanButton {
    position: fixed;
    right: 0;
    bottom: 10%;
    width: 180px;
    height: 100px;
    background-color: #111;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 70px;
    color: #fff;
    transition: ease .4s;
    opacity: .2;
}

#trashcanButton.trashHovered {
    background-color: #c62828;
    opacity: 1;
}

#trashcanButton .fa-trash-alt {
    margin-left: 20px;
    margin-top: 15px;
}

#BtnPushSettings {
    font-size: 1em;
}

#BtnDeleteCard {
    font-size: 1em;
    margin-left: 10px;
}

#addCardBtn.btnPlus {
    position: absolute;
    bottom: -20px;
    left: 130px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #29b6f6;
    background-color: #29b6f6;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline:none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: ease .5s;
}

#addCardBtn.btnPlus:hover {
    border: 3px solid #0085c1;
    background-color: #0085c1;
    transition: ease .5s;
}

#addColumnBtn.btnPlus {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid #4a148c;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline:none;
    cursor: pointer;
    color: #4a148c;
    font-size: 16px;
}

#addColumnBtn.btnPlus:hover {
    background-color: #4a148c;
    border: 3px solid #4a148c;
    transition: ease .5s;
    color: #ffffff;
}

#addColumnBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.crossIcon {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #ccc;
}

.crossIcon:hover {
    color: #c62828;
}

.crossIcon.crossCol {
    position: absolute;
    top: 10px;
    right: 0;
}

.crossIcon.crossEdit {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fa-times {
    font-size: 16px;
}

.fa-edit {
    font-size: 1.6em;
}

/*------------------------------------------------
10.0 - Call to action
------------------------------------------------*/
#darkenPage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: .7;
    z-index: 450;
}

.dragging {
    border: solid black 1px;
    background: #c62828;
    transition: all .3s;
}

.hidden {
    display: none;
}
