body {
    background-color:  #03a9f4;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    height: 60px;
    width: 100%;
    background-color: #111111;
}

#logo {
    position: absolute;
    left: 0;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2px;
    color: #ffffff;
    margin-left: 20px;
    padding-top: 0px;

}

#progressbar {
    width: 100%;
    height: 10px;
    background-color: #f4f4f4;
    margin-bottom: 20px;



}

#progress {
    width: 70%;
    height: 10px;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}

#profile {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    background-image: url("profile1.png");
    background-size: cover;
    border-radius: 50%;

}
#container {
    min-width: 100px;
    min-height: 80px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;

}

#test-column-holder {
    margin-left: 20px;

}



#test-column {
    width: 270px;
    min-height: 50px;
    background-color: #ffffff;
    padding: 20px 20px 10px 20px;
    margin: auto;

    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.column {
    width: 270px;
    min-height: 50px;
    background-color: #ffffff;
    padding: 20px 20px 10px 20px;
    margin: auto;
    margin-left: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 2px;
}

#test-column-2 {
    width: 270px;
    min-height: 50px;
    background-color: #ffffff;
    padding: 20px 20px 10px 20px;
    margin: auto;
    margin-left: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 2px;
    transition: height 2s;

}

#test-card {
    width: 260px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 10px 5px; 10px 5px;
    background-color: #f5f5f5;
    align-self: flex-start;

}

.cardStyle {
    width: 260px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 10px 5px; 10px 5px;
    background-color: #f5f5f5;
    align-self: flex-start;

}

#del-card {
    background: #cccccc;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#del-col {
    background: #cccccc;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.colDelete {
    background: #cccccc;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#button-holder {
    color: #fff;
    font-size: 14px;
}

#idgen {
    width: 100px;
    height: 100px;
    background-color: #ff00cc;
}

#button-holder button {
    background-color: Transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 20px;
    width: 20px;
    border: none;
    outline:none;
    cursor: pointer;
    color: #ffffff;
}

#col-txt{
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

#editor {
    display: none;
    font-weight: 700;
    font-size: 15px;


}

#editor input {
    text-align: left;
    border: none;
    font-weight: 700;
    font-size: 15px;
    background: none;
    outline: none;
    padding: 0;
}
