body {
    background-color:  #03a9f4;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #111111;
    margin-bottom: 20px;
}
/* SCROLL BAR STYLING */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #29b6f6;
}

::-webkit-scrollbar-thumb:hover {
  background: #0288d1;
}

::-webkit-scrollbar-corner {
    background: none;
}

#logo {
    position: absolute;
    top: 5px;
    left: 0;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2px;
    color: #ffffff;
    margin-left: 20px;
    padding-top: 0px;

}

#progressbar {
    width: 100%;
    height: 10px;
    background-color: #f4f4f4;
    margin-bottom: 20px;



}

#progress {
    width: 70%;
    height: 10px;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}

#profile {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    background-image: url("profile1.png");
    background-size: cover;
    border-radius: 50%;

}
#boardContainer {
    width: 100%;
    min-height: 500px;
    overflow: scroll;
    overflow-y: hidden;

}

#container {
    min-height: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    vertical-align: top;


}

#test-column-holder {
    position: relative;

}

#editor-holder {
    margin-left: 20px;
    margin-bottom: 10px;
}

#test-column {
    width: 270px;
    min-height: 100px;
    background-color: #ffffff;
    padding: 20px 20px 10px 20px;
    margin: auto;

    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 20px;

}

#startCol {
    position: relative;
}

#col1 {
    position: relative;
}

.colTitle {
    position: relative;
    font-weight: bold;
    margin-bottom: 10px;
}

.column {

}

.colStyle {
    position: relative;
    width: 270px;
    min-height: 100px;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    margin-left: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 2px;

}

.delColStyle {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #ccc;
    cursor: pointer;
}

.delColStyle:hover {
    color: #000;
}

.delCardStyle {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #999;
    cursor: pointer;
}

.delCardStyle:hover {
    color: #000;
}

.cardStyle {
    position: relative;
    width: 260px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 10px 5px; 10px 5px;
    background-color: #f5f5f5;
    align-self: flex-start;
    border-radius: 2px;
    border-bottom: 1px solid #eee;

}

#del-card {
    background: #cccccc;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#del-col {
    background: #cccccc;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.colDelete {
    background: #cccccc;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#addCardBtn {


}

#addCardBtn.btnStyle {
    position: absolute;
    bottom: -20px;
    left: 130px;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    outline:none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: ease .5s;

}

#addCardBtn.btnStyle:hover {
    background-color: #a5d6a7;
    transition: ease .5s;

}

#addColumnBtn.btnStyle {
    background-color: #a5d6a7;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    outline:none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;

}

#addColumnBtn.btnStyle:hover {
    background-color: #66bb6a;
    transition: ease .5s;

}

#addColumnBtn {
    position: absolute;
    right: 10px;
    top: 10px;

}

#button-holder {

    color: #fff;
    font-size: 14px;

}

#idgen {
    width: 100px;
    height: 100px;
    background-color: #ff00cc;
}

#button-holder button {
    background-color: Transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 20px;
    width: 20px;
    border: none;
    outline:none;
    cursor: pointer;
    color: #ffffff;
}

#col-txt{
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

#editor {
    display: none;
    font-weight: 700;
    font-size: 15px;


}

#editor input {
    text-align: left;
    border: none;
    font-weight: 700;
    font-size: 15px;
    background: none;
    outline: none;
    padding: 0;
}
