html {
    min-height: 100%;
}

body {
    background-color: #4a148c;
    background-image: linear-gradient(315deg, #4a148c 0%, #12005e 100%);
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
    font-size: 62.5%;
    height: 100%;
}

#accessabilityCont {
    position: relative;
    width: 100%;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    min-height: 30px;
}

#textAdjust {
    position: absolute;
    right: 0;
    top: 0;
    color: #111;
    font-weight: bold;
    font-size: 2em;
}

.aA {
    position: relative;
    right: 10px;
    color: #111;
    background: none;
    font-weight: bold;
    outline: none;
    font-size: .7em;
    border: none;
    cursor: pointer;
}

#colorChange {
    position: absolute;
    top: 7px;
    right: 55px;
    font-size: 1.4em;
    cursor: pointer;
}

#colorChangeContrast {
    display: none;
}

#colSilhouetteCont {
    position: relative;
    width: 304px;
    height: 134px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 2px;
    font-size: 40px;
    color: #fff;
    border: 3px solid;
    opacity: .2;
    cursor: pointer;
    transition: ease .5s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

#colSilhouetteCont:hover {
    opacity: .4;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);

}

#colSilText {
    position: relative;
    top: 20px;
    font-size: .4em;
    text-align: center;


}



#colSilhouette {
    position: relative;
}

#colSilButton {
    position: absolute;
    left: 125px;
    top: 60px;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    outline:none;
    cursor: pointer;
    color: #fff;
    font-size: .4em;
    background: none;
}

header {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 20px;

}

#siteWrap {
    height: 100%;
}
/* SCROLL BAR STYLING */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #29b6f6;
}

::-webkit-scrollbar-thumb:hover {
  background: #0288d1;
}

::-webkit-scrollbar-corner {
    background: none;
}

#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2px;
    padding-top: 0px;
    background-image: url(logotest.svg);
    background-repeat: no-repeat;
}

#logoText {
    position: absolute;
    top: 15px;
    left: 40px;
    width: 250px;
    height: 40px;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -2px;
    padding-top: 0px;
}

#progressbar {
    width: 100%;
    height: 10px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
}

#progress {
    width: 70%;
    height: 10px;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
}

#timeDate {
    position: absolute;
    width: 12em;
    height: 2.2em;
    right: 6em;
    bottom: 20%;
    font-size: 17px;
    font-weight: bold;
    text-align: right;
    color: #4a148c;
    margin-right: 1em;
    padding-right: 1.3em;
    border-right: solid #ccc 1px;
}

#profile {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 60px;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    background-image: url("profile1.png");
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #4a148c;
}

#boardContainer {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 20px;
}

#container {
    min-height: 300px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    vertical-align: top;
}

#colContainer {
    min-height: 300px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    vertical-align: top;
}

#editor-holder {
    margin-left: 20px;
    margin-bottom: 10px;
}

#startCol {
    position: relative;
}

#col1 {
    position: relative;
}

.fa-times {
    font-size: 1.6em;
}

.fa-edit {
    font-size: 1.6em;
}

.colTitle {
    position: relative;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
    cursor: default;
    word-break: break-word;
    width: 240px;
}

.column {

}

.colStyle {
    position: relative;
    width: 270px;
    min-height: 100px;
    background-color: #ffffff;
    padding: 17px 17px 17px 17px;
    margin-left: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 2px;
    border: 3px solid #ffffff;
}

.delColIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #ccc;
    cursor: pointer;
}

.delColIcon:hover {
    color: #c62828;
}

.delCardIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #999;
    cursor: pointer;
}

.editCardIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #999;
    cursor: pointer;
}

.editCardIcon:hover {
    color: #4caf50;
}

#darkenPage {
    position: absolute;
    top: 0;
    background-color: #111;
    width: 100%;
    height: 1000px;
    z-index: 450;
    opacity: 0.8;
}

#cardEditorCont {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 500;
    width: 500px;
    height: 500px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

.delCardIcon:hover {
    color: #c62828;
}

.cardContent {
    position: relative;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 10px 5px 10px 5px;
    background-color: #f5f5f5;
    align-self: flex-start;
    border-radius: 2px;
    border-bottom: 1px solid #ccc;
}

.cardTitle {
    width: 230px;
    font-size: 1.5em;
    word-break: break-word;
}

.cardShake {
    position: absolute;
    left: -100px;
}

.colStyle input {
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    width: 260px;
    margin-right: 20px;
    padding: 5px;
    font-size: 1.4em;
}

.colStyle input:focus {
    border: 2px solid #4caf50;

}

.colOkBtn {
    width: 80px;
    background-color: #29b6f6;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    outline: none;
    font-size: 1.4em;
}

.colOkBtn:hover {
    background-color: #4a148c;
}

.colOkBtn:focus {
    background-color: #0085c1;
}

.colCancelBtn {
    width: 80px;
    background-color: #29b6f6;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    outline: none;
    font-size: 1.4em;
}

.colCancelBtn:hover {
    background-color: #4a148c;
}

.colCancelBtn:focus {
    background-color: #0085c1;
}


.cardContent input {
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    width: 245px;
    margin-right: 20px;
    padding: 5px;
    font-size: 1.4em;
}

.cardContent input:focus {
    border: 2px solid #4caf50;

}

.cardContentError input {
    border: 2px solid #c62828;
}

.cardOkBtn {
    width: 80px;
    background-color: #29b6f6;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    outline: none;
    font-size: 1.4em;
}

.cardOkBtn:hover {
    background-color: #4a148c;
}

.cardOkBtn:focus {
    background-color: #0085c1;
}

.cardCancelBtn {
    width: 80px;
    background-color: #29b6f6;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    outline: none;
    font-size: 1.4em;
}

.cardCancelBtn:hover {
    background-color: #4a148c;
}

.cardCancelBtn:focus {
    background-color: #0085c1;
}

#del-card {
    background: #cccccc;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#del-col {
    background: #cccccc;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.colDelete {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#addCardBtn.btnStyle {
    position: absolute;
    bottom: -20px;
    left: 130px;
    background-color: #29b6f6;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 3px solid #29b6f6;
    outline:none;
    cursor: pointer;
    color: #fff;
    font-size: 1.6em;
    transition: ease .5s;
}

#addCardBtn.btnStyle:hover {
    background-color: #0085c1;
    border: 3px solid #0085c1;
    transition: ease .5s;
}

#addColumnBtn.btnStyle {
    background-color: #ffffff;
    border: 3px solid #4a148c;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    outline:none;
    cursor: pointer;
    color: #4a148c;
    font-size: 1.6em;
}

#addColumnBtn.btnStyle:hover {
    background-color: #4a148c;
    border: 3px solid #4a148c;
    transition: ease .5s;
    color: #ffffff;
}

#addColumnBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}

#button-holder {
    color: #fff;
    font-size: 1.4em;
}


#button-holder button {
    background-color: Transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 20px;
    width: 20px;
    border: none;
    outline:none;
    cursor: pointer;
    color: #ffffff;
}

#col-txt{
    font-weight: 700;
    font-size: 1.6em;
    cursor: pointer;
}

.draggable {
    background-color: #ff00cc;
    height: 200px;
}

.colHovered {
    background-color: #e9e9e9;
    border: 3px solid #4caf50;

}

.column li {
    list-style-type: none;
}

.column ol {
    margin: 0;
    padding: 0;
}

.colExtends {
    height: 300px;
}

footer {

    height: 100px;
    width: 100%;
}

/* DRAG STYLING */
#makeMeDraggable { width: 300px; height: 300px; background: red; }


#cardEditBody {

}

.containerEditCard .fa-times {
    font-size: 1.2em;
}

.containerEditCard {
    z-index: 900;
    position: absolute;
    border-radius: 2px;
    border-bottom: 1px solid #ccc;
    width: 415px;
    padding: 20px;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 900;
    background-color: #f5f5f5;
    color: #111;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    font-size: 1.5em;
}

.editCardTitleCont {
    background: #ff00cc;
}

.editCardItemCont {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.editCardDescCont {
    background: #ff0;
}

.editCardBudgetCont {
    background: #ffcc00;
}

.editCardAvatarCont {
    background: #ccff00;
}

.editCardAvatar {
    position: relative;
    margin-top: 10px;
}

.editCardAvatar select{
    display: none;
}

#addUsersField input{
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    width: 200px;
    padding: 5px;
    font-size: 1.6em;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.0em;
}

#addUsersField input:focus{
    border: 2px solid #4caf50;
}



#addUsersField .delete{
    margin-left: 10px;
    color: #ccc;
    text-decoration: none;
}

#addUsersField .delete:hover{
    margin-left: 10px;
    color: #c62828;
    text-decoration: none;
}

#addFormField{
    background-color: #29b6f6;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 10px;

}

#addFormField:hover {
    background-color: #4a148c;
}

.select-selected{
    background-color: #4a148c;
    border-radius: 2px;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: #29b6f6;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.editCardColorCont {
    background: #330fcc;
}

.editCardColor {

}

.editCardColor input[type=radio] {
    display: none;
}

.editCardColor label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}

.editCardColor input[type="radio"]:checked+label {
  background-color: #bbb;
  border: 3px solid #ff00cc;
}

.editCardCalCont {
    background: #99ffcc;
}

.editCardDate {
    margin-top: 10px;
}

.editCardInputField {
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    width: 400px;
    padding: 5px;
    font-size: 1.6em;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.0em;
}


.editCardInputField:focus {
    border: 2px solid #4caf50;
}

.editCardTextArea {
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    resize: none;
    width: 400px;
    height: 60px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.0em;

}
textarea:focus {
    border: 2px solid #4caf50;
}


#BtnPushSettings {
    background-color: #29b6f6;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    width: 80px;
    font-weight: bold;
    font-size: 1.1em;
}

#BtnPushSettings:hover {
    background-color: #4a148c;

}

#cardEditBg {
    position: absolute;
    top: 0;
    opacity: .7;
    background: #111;
    width: 100%;
    height: 100%;
    z-index: 850;
}

#date-start {
    font-size: 1em;
    outline: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #4a148c;
    margin-right: 15px;
    padding: 5px;
    width: 185px;
    border-radius: 2px;
}

#date-start:focus {
    border: 2px solid #4caf50;
}

#date-end {
    font-size: 1em;
    outline: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #4a148c;
    padding: 5px;
    width: 185px;
    border-radius: 2px;
}

#date-end:focus {
    border: 2px solid #4caf50;
}


.closeEditorIcon {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1050;
    margin-bottom: 10px;
    color: #ccc;
    cursor: pointer;
}

.closeEditorIcon:hover {
    color: #c62828;
}

.sortableStyle {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 2px dotted #bbb;
}




/* COLOR RADIOS ON EDIT CARD */

.redRadio{
    color: #e53935;
    margin-right: 10px;
}


.orangeRadio{
    color: #fb8c00;
    margin-right: 10px;

}

.greenRadio {
    color: #43a047;
    margin-right: 10px;
}

.blueRadio {
    color: #1e88e5;
    margin-right: 10px;
}

.pinkRadio {
    color: #d81b60;
    margin-right: 10px;
}


/* SIDE CONTENT CSS */

#calendarStatisticsContainer {
    position: fixed;
    right: 0;
    top: 35%;
    width: 55px;
    height: 80px;
    z-index: 5;
}

.squareContainer {
    position: absolute;
    right: 0;
    width: 55px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


#calendarSquare {
    position: absolute;
    top: 0;
    background-color: #29b6f6;

}

#statisticsSquare {
    position: absolute;
    bottom: 0;
    background-color: #29b6f6;
}

#calendarSquare:hover, #statisticsSquare:hover {
    width: 80px;
    transition: all .5s;
    background-color: #0085c1;
}

#goToCalendar, #goToStatistics {
    position: absolute;
    background: transparent;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 2.5em;
    border: none;
    cursor: pointer;
    outline: none;
}

#trashcanSquare {
    position: fixed;
    right: 0em;
    bottom: 45%;
    background-color: #29b6f6;
    min-width: 55px;
    min-height: 40px;
    overflow: hidden;
    z-index: 100;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#deleteObj {
    position: absolute;
    z-index: 90;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: none;
    color: #fff;

    border: none;
    font-size: 2em;
}

#deleteObj.dragging {
    background: #c62828;
    transition: all .3s;
    border: solid black 1px;
}

/* ANIMATION */

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}



/* KEYFRAMES */

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

/* TRASH CAN */

#trashcanButton {
    position: fixed;
    right: 0;
    top: 20%;
    width: 200px;
    height: 100px;
    background-color: #ff00cc;
}
