body {
    background-color: #4a148c;
    background-image: linear-gradient(315deg, #4a148c 0%, #12005e 100%);
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
}


header {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 20px;
}

#siteWrap {


}
/* SCROLL BAR STYLING */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #29b6f6;
}

::-webkit-scrollbar-thumb:hover {
  background: #0288d1;
}

::-webkit-scrollbar-corner {
    background: none;
}

#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2px;
    padding-top: 0px;
    background-image: url(logotest.svg);
    background-repeat: no-repeat;

}

#logoText {
    position: absolute;
    top: 15px;
    left: 40px;
    width: 250px;
    height: 40px;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -2px;
    padding-top: 0px;

}

#progressbar {
    width: 100%;
    height: 10px;
    background-color: #f4f4f4;
    margin-bottom: 20px;



}

#progress {
    width: 70%;
    height: 10px;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}

#profile {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 60px;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    background-image: url("profile1.png");
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #4a148c;

}
#boardContainer {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 50px;


}

#container {
    min-height: 300px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    vertical-align: top;



}

#test-column-holder {
    position: relative;

}

#editor-holder {
    margin-left: 20px;
    margin-bottom: 10px;
}

#test-column {
    width: 270px;
    min-height: 100px;
    background-color: #ffffff;
    padding: 20px 20px 10px 20px;
    margin: auto;

    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 20px;

}

#startCol {
    position: relative;
}

#col1 {
    position: relative;
}

.colTitle {
    position: relative;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
}



.column {

}

.colStyle {
    position: relative;
    width: 270px;
    min-height: 100px;
    background-color: #ffffff;
    padding: 17px 17px 17px 17px;
    margin-left: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 2px;
    border: 3px solid #ffffff;

}

.closeEditorIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #ccc;
    cursor: pointer;
}

.closeEditorIcon:hover {
    color: #111;
}

.delColIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #ccc;
    cursor: pointer;
}

.delColIcon:hover {
    color: #c62828;
}

.delCardIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #999;
    cursor: pointer;
}

.editCardIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
    color: #999;
    cursor: pointer;
}

.editCardIcon:hover {
    color: #4caf50;
}

#darkenPage {
    position: absolute;
    top: 0;
    background-color: #111;
    width: 100%;
    height: 1000px;
    z-index: 450;
    opacity: 0.8;
}

#cardEditorCont {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 500;
    width: 500px;
    height: 500px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

.delCardIcon:hover {
    color: #c62828;
}

.cardContent {
    position: relative;
    width: 260px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 10px 5px; 10px 5px;
    background-color: #f5f5f5;
    align-self: flex-start;
    border-radius: 2px;
    border-bottom: 1px solid #ccc;

}

.cardShake {
    position: absolute;
    left: -100px;
}

.cardContent:hover {
    background-color: #000;
}

.cardContent input {
    border: 2px solid #4a148c;
    border-radius: 2px;
    outline: none;
    width: 215px;
    margin-right: 20px;
    padding: 5px;
    font-size: 15px;
}


.cardContentError input {
    border: 2px solid #c62828;
}

.cardOkBtn {
    width: 80px;
    background-color: #29b6f6;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    outline: none;
    font-size: 14px;
}



.cardOkBtn:hover {
    background-color: #4a148c;
}

.cardOkBtn:focus {
    background-color: #0085c1;
}

.cardCancelBtn {
    width: 80px;
    background-color: #29b6f6;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    outline: none;
    font-size: 14px;
}

.cardCancelBtn:hover {
    background-color: #4a148c;
}

.cardCancelBtn:focus {
    background-color: #0085c1;
}

#del-card {
    background: #cccccc;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#del-col {
    background: #cccccc;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.colDelete {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#addCardBtn {


}

#addCardBtn.btnStyle {
    position: absolute;
    bottom: -20px;
    left: 130px;
    background-color: #29b6f6;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 3px solid #29b6f6;
    outline:none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: ease .5s;

}

#addCardBtn.btnStyle:hover {
    background-color: #0085c1;
    border: 3px solid #0085c1;
    transition: ease .5s;

}

#addColumnBtn.btnStyle {
    background-color: #ffffff;
    border: 3px solid #4a148c;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    outline:none;
    cursor: pointer;
    color: #4a148c;
    font-size: 16px;

}

#addColumnBtn.btnStyle:hover {
    background-color: #4a148c;
    border: 3px solid #4a148c;
    transition: ease .5s;
    color: #ffffff;

}

#addColumnBtn {
    position: absolute;
    right: 10px;
    top: 10px;

}

#button-holder {

    color: #fff;
    font-size: 14px;

}

#idgen {
    width: 100px;
    height: 100px;
    background-color: #ff00cc;
}

#button-holder button {
    background-color: Transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 20px;
    width: 20px;
    border: none;
    outline:none;
    cursor: pointer;
    color: #ffffff;
}

#col-txt{
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

#deleteObj {
    position: fixed;
    right: 0;
    bottom: 3%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #121212;
    color: #ffffff;
    font-size: 40px;
    border: none;
    transition: ease .2s;
}

#deleteObj.dragging {
    background: #c62828;
    width: 100px;
    height: 100px;
    font-size: 50px;
}

.dropzone {
}


footer {

    height: 100px;
    width: 100%;
}
/* ANIMATION */

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* KEYFRAMES */

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
