#timeDate {
    position: absolute;
    width: 12em;
    height: 2.2em;
    right: 6em;
    bottom: 20%;
    font-size: 17px;
    font-weight: bold;
    text-align: right;
    color: #444;
    margin-right: 1em;
    padding-right: 1.3em;
    border-right: solid #888 1px;
}